.content {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}

mat-card {
  width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}
