.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
}

.card-buttons,
.card-files {
  display: flex;
  flex-direction: column;
}

.card-buttons {
  width: fit-content;
  height: fit-content;
  width: 252px;
}

.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-files {
  flex-grow: 1;
  overflow-y: auto;
  height: 250px;
  width: 252px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  letter-spacing: 0.0075em;
  color: #424242; /* Material Design typography color */
  padding: 8px; /* Material padding */
  border-bottom: 1px solid #e0e0e0; /* A subtle bottom border */
  background: white;
  top: 0;
  z-index: 10;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
}

.dl-icon {
  margin-right: 8px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 64px);
  gap: 20px;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-container > button,
.button-container > .file-name-display {
  width: 100%;
}

.file-name-display {
  display: flex;
  justify-content: center;
}

.custom-chip,
.selected-file-name {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #e0e0e0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  border: none;
  cursor: default;
}

.material-icons.chip-icon {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 4px;
}

.chip-item {
  margin: auto;
}
