<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <div class="cards-container">
    <div class="download-container">
      <mat-card class="card-buttons">
        <mat-card-content>
          <div class="button-container">
            <button mat-raised-button color="primary" (click)="downloadFile()">
              <mat-icon>file_download</mat-icon> Download File
            </button>
            <div *ngIf="selectedFileDownload" class="file-name-display">
              <div class="custom-chip">
                <i class="material-icons chip-icon">file_download</i>
                <span class="chip-item">{{ selectedFileDownload }}</span>
              </div>
            </div>
            <button
              mat-raised-button
              color="warn"
              (click)="clearFileDownload()"
            >
              <mat-icon>clear</mat-icon> Clear
            </button>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="list-title" *ngIf="files$ | async">
        <mat-icon class="dl-icon">cloud_download</mat-icon>Choose File to
        Download
      </div>
      <mat-card class="card-files">
        <mat-card-content>
          <mat-list *ngIf="files$ | async as files" class="file-list">
            <mat-list-item
              *ngFor="let file of files"
              (click)="selectFileDownload(file)"
            >
              {{ file }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="card-buttons">
      <mat-card-content>
        <input
          type="file"
          id="fileInput"
          style="display: none"
          #fileInput
          (change)="onFileSelectedUpload($event)"
        />
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="uploadFile()">
            <mat-icon>file_upload</mat-icon> Upload File
          </button>

          <div *ngIf="selectedFileUpload" class="file-name-display">
            <div class="custom-chip">
              <i class="material-icons chip-icon chip-item">attach_file</i>
              <span class="chip-item">{{ selectedFileUpload.name }}</span>
            </div>
          </div>
          <button mat-raised-button color="warn" (click)="clearFileUpload()">
            <mat-icon>clear</mat-icon> Clear
          </button>

          <button mat-raised-button color="accent" (click)="fileInput.click()">
            <mat-icon>cloud_upload</mat-icon> Choose File To Upload
          </button>
          <button mat-raised-button color="primary" (click)="checkCompliance()">
            <mat-icon>check</mat-icon> Check For Compliance
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
